.container{
  width: 100%;
  height: auto;
  background:green;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
canvas{
  width: 200px;
  height: 200px;
  background: white;
  margin: 20px;
  box-sizing: border-box;
}
@media screen and (max-width:600px){
    canvas{
        width: 90%;
    }
}